<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-white font-weight-bold">My Mobile Shop</h1>
    <p class="lead text-light">The biggest and the best mobile phones online store</p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Our Products</h2>
      <p class="lead">Here you can find your next portable device.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto catalog" style="width: 80%; height: 300px; border-radius: 64px 64px 0 0;" (click)="catalogClick();"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">About Us</h2>
      <p class="lead">You can check here a bit about our history.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto about-us" style="width: 80%; height: 300px; border-radius: 85px 85px 0 0;" (click)="aboutUsClick();"></div>
  </div>
</div>
