<div class="container mt-4">
  <app-header [content]="pageContent.header"></app-header>
  <div class="row">
    <div class="col-8">
      <table class="table table-hover mt-4">
        <tbody>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Model Name</th>
            <td class="col">{{phone?.name}}</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Brand</th>
            <td class="col">{{phone?.brand}}</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Description</th>
            <td class="col">{{phone?.description}}</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Price</th>
            <td class="col">{{phone?.price | currency}}</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Specs</th>
            <td class="col">
              <div class="row">
                <div class="col-3 text-nowrap"><strong>CPU Name</strong></div>
                <div class="col">{{phone?.cpu}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-nowrap"><strong>RAM Size</strong></div>
                <div class="col">{{phone?.ramSize}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-nowrap"><strong>Storage Size</strong></div>
                <div class="col">{{phone?.storage}}</div>
              </div>
            </td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Rating</th>
            <td class="col">{{phone?.rating | number: '1.1-1'}}</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class="col-3 text-nowrap">Available</th>
            <td class="col">{{phone?.available | yesNo}}</td>
          </tr>
        </tbody>
      </table>

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <a href="/admin-catalog" class="btn btn-primary" role="button">Back to Admin Catalog</a>
        <a href="/catalog" class="btn btn-success ml-2" role="button">Go to User Catalog</a>
      </ng-container>

      <ng-template #loggedOut>
        <a href="index.php" class="btn btn-dark" role="button">Back to Catalog</a>
      </ng-template>

    </div>
    <div class="col-3">
      <img class="phone-image" [src]="phone.image">
    </div>
  </div>
</div>