extends layout

block content
  .container.py-4
    h1 About Us
    .py-4
      h2 Our Store
      p My Mobile Shop is the biggest mobile phone webstore. We are committed to get the best deal to our customers.
      p We give you a chance to quickly and easily find the phone you want and have it delivered to your home in no time, regardless of your location, as long as it is in North America.
      p We know all the phones, plans and carriers, so we'll find your perfect match the first time around.
      p We're always on top of the latest tech so you'll never be late to the game.
    .py-4
      h2 Our Beginning
      p My Mobile Shop was launched in Early 2020 selling only the most popular mobile phones when a group of college friends decided to go into business together. Our combined ambition, drive and abilities soon made us look for new challenges and new markets. Starting an online shop provided for both and allowed us to develop a strong presence inside North America.
    .py-4
      h2 Contact
      p Send an email to shop@mymobileshop.ca
      p Or call us at (226) 555-5555.