extends layout

block content
  .jumbotron
    .container
      h1.display-3 Welcome to My Mobile Shop
      p.lead The biggest and the best mobile phones online store.
  .container
    .row
      .col-5.text-center
        h2 Our Catalog
        p Here you can find your next portable device.
        p
          a.btn.btn-primary(href='/list') Products
      .col-1
      .col-5.text-center
        h2 About
        p You can check here a bit about our history.
        p
          a.btn.btn-primary(href='/about') About Us


