<div class="container mt-4">
  <app-header [content]="pageContent.header"></app-header>
  <form (ngSubmit)="editPhone(phone)" #updateForm="ngForm" *ngIf="phone">
    <div class="form-group row mt-4">
      <label for="name" class="col-2 col-form-label text-nowrap">Model Name</label>
      <div class="col-6">
        <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="phone.name" name="name"
          #name="ngModel">
        <div class="alert alert-danger"
          [hidden]="name.valid || name.pristine">
          Name is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="brand" class="col-2 col-form-label text-nowrap">Brand</label>
      <div class="col-6">
        <input type="text" class="form-control" id="brand"
          required
          [(ngModel)]="phone.brand" name="brand"
          #brand="ngModel">
        <div class="alert alert-danger"
          [hidden]="brand.valid || brand.pristine">
          Brand is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-2 col-form-label text-nowrap">Price</label>
      <div class="col-3">
        <input type="number" class="form-control" id="price" min="0" step=".01"
          required
          [(ngModel)]="phone.price" name="price"
          #price="ngModel">
        <div class="alert alert-danger"
          [hidden]="price.valid || price.pristine">
          Price is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-2 col-form-label text-nowrap">Description</label>
      <div class="col-6">
        <textarea class="form-control" id="description" rows="3"
          [(ngModel)]="phone.description" name="description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="cpu" class="col-2 col-form-label text-nowrap">CPU Name</label>
      <div class="col-6">
        <input type="text" class="form-control" id="cpu"
          required
          [(ngModel)]="phone.cpu" name="cpu"
          #cpu="ngModel">
        <div class="alert alert-danger"
          [hidden]="cpu.valid || cpu.pristine">
          CPU Name is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="ramSize" class="col-2 col-form-label text-nowrap">RAM Size</label>
      <div class="col-3">
        <input type="text" class="form-control" id="ramSize"
          [(ngModel)]="phone.ramSize" name="ramSize">
      </div>
    </div>
    <div class="form-group row">
      <label for="storage" class="col-2 col-form-label text-nowrap">Storage Size</label>
      <div class="col-3">
        <input type="text" class="form-control" id="storage"
          required
          [(ngModel)]="phone.storage" name="storage"
          #storage="ngModel">
        <div class="alert alert-danger"
          [hidden]="storage.valid || storage.pristine">
          Storage Size is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="rating" class="col-2 col-form-label text-nowrap">Rating</label>
      <div class="col-2">
        <input type="number" class="form-control" id="rating" min="0" max="5" step=".1"
          [(ngModel)]="phone.rating" name="rating"
          #rating="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="image" class="col-2 col-form-label text-nowrap">Image File Name</label>
      <div class="col-6">
        <input type="text" class="form-control" id="image"
          [(ngModel)]="phone.image" name="image">
      </div>
    </div>
    <fieldset class="form-group row">
      <legend class="col-2 col-form-label float-sm-left pt-0">Available?</legend>
      <div class="col-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="available-yes"
            [(ngModel)]="phone.available" name="available" [value]="true"
            #available="ngModel">
          <label class="form-check-label" for="available-yes">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="available-no"
            [(ngModel)]="phone.available" name="available" [value]="false"
            #available="ngModel">
          <label class="form-check-label" for="available-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
    <div class="form-group row mt-4">
      <div class="col-12">
        <button type="submit" class="btn btn-success"
          [disabled]="!updateForm.form.valid">Save</button>
        <a href="/admin-catalog" class="btn btn-primary ml-4" role="button">Back to Catalog</a>
      </div>
    </div>
  </form>
</div>